@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: 'Quicksand';
  font-weight: 500;
}

.app {
  width: 99%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h1 {
  text-align: center;
  background-color: #f4a226;
  font-family: 'Monoton';
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}

.add-form {
  background-color: #e5771f;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

h3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

button,
select,
input {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

.add-form button {
  text-transform: uppercase;
  background-color: #76c7ad;
}

.list {
  background-color: #5a3e2b;
  color: #ffebb3;
  padding: 4rem 0;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3.2rem;
  align-items: center;
}

.actions button,
.list select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
}

.list ul {
  list-style: none;
  width: 80%;
  overflow: auto;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

input[type='checkbox'] {
  height: 2rem;
  width: 2rem;
  accent-color: #e5771f;
}

.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  transform: translateY(2px);
}

.stats {
  background-color: #76c7ad;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
}
/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 576px) {
  .app {
    height: 95vh;
  }

  .add-form {
    padding: 1rem;
  }
  .add-form,
  h3,
  button {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  select,
  input {
    display: inline;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: 400;
    word-spacing: 20px;
    letter-spacing: -5px;
    padding: 2rem 0;
  }
  select {
    width: 30%;
  }
  input {
    width: 60%;
    margin-left: 1rem;
  }

  button,
  select,
  input {
    border-radius: 10rem;
    padding: 1rem 2.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  button {
    width: 50%;
  }
  h3 {
    margin-right: 1rem;
    font-size: 2rem;
  }

  .list li button {
    width: 1rem;
    display: inline;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    transform: translateY(-1px);
  }

  .list ul {
    width: 100%;
  }
  .list li {
    display: inline;
    width: 45%;
  }
  input[type='checkbox'] {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
  }

  .stats {
    font-weight: 500;
    padding: 1.5rem 0;
  }
  .actions button,
  .list select {
    transform: translateY(30px);
    padding: 0.8rem 2rem;
    width: 50%;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0.8rem;
    display: inline;
  }
  .actions {
    margin: 0 auto;
  }
  .actions button {
    padding: 0.8rem 0;
    width: 30%;
  }
}
